.container{
  width:70%;
  text-align: center;
  margin: auto;
}

body{
  background-color: #393E46;
}
h1{
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  margin: 30px;
  font-size: 5rem;
  color: #4ECCA3;
}

p{
  margin:30px;
  font-family: 'Indie Flower', cursive;
  color: #4ECCA3;
  font-size: 2rem;
}

.dice{

  text-align: center;
  display: inline-block;
}
img{
  width: 80%;
}

footer{
  margin-top:5%;
  margin-left:40%;
  font-size: 1rem;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
}
